.accordionWrapper {
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
    text-align: center;
    .accordionContainer {
      width: 500px;
      .accorrdionTitle{
        cursor: pointer;
      }
      .accordionContent {
        overflow: hidden;
        max-height: 0;
      }
      .accordionContent.accordionShow {
        max-height: 9999px;
        
      }
      p{
        font-size: 20px;

      }
    }
  }